<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071881508823-jj4u6c489t9u4j460otmkjuhbktahnk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071881508823-jj4u6c489t9u4j460otmkjuhbktahnk6</string>
	<key>API_KEY</key>
	<string>AIzaSyC8A40rLiHV4R7PF8e9jJjnjmD_Hy5eCFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1071881508823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthAndDoctorAppointment</string>
	<key>PROJECT_ID</key>
	<string>health-and-doctor-appoin-6dbf9</string>
	<key>STORAGE_BUCKET</key>
	<string>health-and-doctor-appoin-6dbf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071881508823:ios:18a6e8ea6e61177ada5d92</string>
</dict>
</plist>